h1{
    color: rgb(11, 135, 32);
    background-color: rgb(223, 236, 148);
    /*border: 2px solid red;*/
    padding: 30px;
    /*margin-top: 30px;*/
    
    
}

body{
    background-color: bisque;
    
}

.navitem{
    color: rgb(240, 2, 2);
    font-weight: bold;
    
}